<!-- BANNER -->
<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_categories', popular_taxons: @popular_taxons %>
    <%= render 'new_products', object_products: @new_products %>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'shared/brand_bar' %>
<!-- PRODUCT QUICK VIEW MODAL -->
<%= render 'product_quick_view_modal' %>
